<div class="cmnts">
  <strong><%= comment.body.html_safe %></strong>
  <p class="text-muted">posted <%= time_ago_in_words(comment.created_at) %> ago</p>
 <% if current_user && current_user.is_admin?%>
    <p><%= button_to 'Delete comment',[comment.post, comment],class: 'btn btn-xs btn-danger', method: :delete, data: {confirm: "Are you sure?"} %></p>
 <%end%>
</div>